<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
        <div class="widgets-box">
          <div class="row">
            <div class="col col-4 col-d-12 col-m-12">
              <div class="widget widget-recent">
                <div class="widget__head">
                  <h4 class="widget__title">Recent Posts</h4>
                </div>
                {% for post in site.posts limit:3 %}
                <div class="recent-posts">
                  {% if post.image %}
                    <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                  {% else %}
                  {% endif %}
                  <span class="recent-posts__count">{{ forloop.index }}</span>
                  <div class="recent-posts__content">
                    <div class="recent-posts__date">
                      <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                    </div>
                    <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col col-4 col-d-12 col-m-12">
            {% if site.gallery %}
            <div class="widget widget-gallery">
              <div class="widget__head">
                <h4 class="widget__title">{% if site.gallery.name %}{{site.gallery.name}}{% else %}Gallery{% endif %}</h4>
              </div>
              {% for post in site.posts  %}
              {% if post.title == "A Good Vision Doesn’t Have to Be Big and Hairy" or
                    post.title == "The Three Most Common Diseases Your Product Can Catch" or
                    post.title == "The Hippocratic Oath of Product"
              %}
              <div class="recent-posts">
                {% if post.image %}
                <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                {% else %}
                {% endif %}
                <div class="recent-posts__content">
                  <div class="recent-posts__date">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                  </div>
                  <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="col col-4 col-d-12 col-m-12">
              {% if site.mailchimp %}
              <div class="widget widget-newsletter">
                <div class="widget__head">
                  <h4 class="widget__title">Newsletter</h4>
                </div>
                <h3 class="newsletter-title">Get Interesting News</h3>
                <p class="newsletter-subtitle">Subscribe to our newsletter and we’ll send you the emails of latest posts.</p>

                <form action="https://radicalproduct.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&amp;id=7fc7e415ad"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  class="newsletter-form validate"
                      target="_blank" novalidate>
                  <div class="newsletter-group">
                    <div class="newsletter-group-top">
                  <label class="screen-reader-text" for="mce-email">My Email</label>
                  <input type="email" value="" name="EMAIL" class="newsletter-email required email" id="mce-EMAIL" placeholder="Email Address">
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
                  </div>
                      </div>
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button&#45;&#45;primary button&#45;&#45;big">Subscribe
                    </button>
                  </div>

                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end footer-widgets -->

<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="footer__inner">
        {% include contact-link.html %}
        <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/"><strong>{{site.title}}</strong></a>.</div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->