<!-- begin header -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container-xxl d-flex justify-content-between align-items-center">
      <a class="navbar-brand" href="/">
        <img src="/img/logo.svg" alt="radical-logo" class="logo">
        </a>
  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  


      <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav gap-2">
          
          {% for item in site.data.menu %}
         
            <li class="nav-item">
           
              <a class="nav-link uppercase small-text light  
              {% if page.url == item.link %}
                custom-active
              {%else%}
                {% if page.collection == "posts" %}
                  {% if item.title == "Training" and page.url contains "training" %}
                    custom-active
                  {%elsif item.title == "Blog" and page.layout == "post"%}
                      custom-active
                  
                    {% endif %}  
                {% endif %}
              {% endif %}" href="{{item.link}}">{{item.title}}</a>
            </li>
          {% endfor %}


          {% if page.name == "index.html" or page.layout == "post"%}
          <li class="nav-item nav-buttons nav__icon-search">
            <i class="bi bi-search small-text nav-link"></i>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
<!-- end header -->

{% include search.html %}

