
    <meta charset="utf-8" />
        <title>
            {{ page.title }}
        </title>
    <meta name="description" content="{{ site.description }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=2bQ4NNy6oP">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=2bQ4NNy6oP">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=2bQ4NNy6oP">
	<link rel="manifest" href="{{ site.baseurl }}/favicons/manifest.json?v=2bQ4NNy6oP">
	<link rel="mask-icon" href="favicons/safari-pinned-tab.svg?v=2bQ4NNy6oP" color="#ff1048">
	<link rel="shortcut icon" href="{{ site.baseurl }}//favicon.ico?v=2bQ4NNy6oP">
	<meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
   
    <script src="{{ site.baseurl }}/js/vendors/jquery-3.3.1.min.js"></script>
  	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KG5L82H');</script>
	<!-- End Google Tag Manager -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400&display=swap" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
