
<section>
    <div class="modal fade" id="ventanaModal" tabindex="-1" role="dialog"  aria-labelledby="ventanaModalLabel" aria-hidden="true" >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        
        <div class="pb-2 d-flex justify-content-end">
            <button type="button" class=" primary-button text-white uppercase bg-pink py-2 px-3"  data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x-lg"></i></button>
        </div>    
       

        <div class="modal-body p-0">
          <div class="embed-responsive">
            <iframe width="100%" height="700px" id="iframeVideo"  frameborder="0" class="embed-responsive-item"  allow="autoplay" allowfullscreen ></iframe>
          </div>
        </div>
        <script src="https://player.vimeo.com/api/player.js"></script>
      </div>
    </div>
  </div>
</section>
