<nav class="navbar navbar-expand-lg navbar-light py-3">
	<div class="container-xxl d-flex justify-content-between align-items-center">
		<a class="navbar-brand" href="/">
			<img src="/img/logo.svg" alt="radical-logo" class="logo" height="35px">
	  	</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
			<ul class="navbar-nav gap-2">

				{% for item in site.data.menu %}
					{% if item.title == "Trainings" %}
					<li class="nav-item  ">
						
							<div class="drop">
								<a href="/trainings" class="uppercase text-decoration-none small-text light  ">
									<div class="dropbtn nav-link  uppercase 
									{% if page.url == item.link %}
										custom-active 
									{%else%}
									{% if page.collection == "training_posts" %}
										
										{% if item.title == "Trainings" && page.layout == "training" %}
											custom-active 
										{%endif%}
									{% endif %}
									{% endif %}
									">
									Trainings <i class="bi bi-caret-down-fill"></i>
									</div>
								</a>
								<div class="py-1">

								</div>
								<div class="dropdown-c bg-white">
									<h6 class="fw-bold px-4 pt-4">
										Radical Trainings 
									</h6>
									<div class="grid-content-drop ">
										{% for item in site.training_posts %}
													<a href="{{item.permalink}}" class="item-drop px-4 py-2 d-flex flex-row align-items-center gap-2">
														<div>
															<div class="training" style="background-color: #{{item.bg}};" >
																<img src="{{item.iconWhite}}" alt="{{item.iconWhite}}" width="40px">
															</div>
														</div>
														
														<div class="bottom-nav text-start">
															<h6 class="pink-text m-0 small-text">{{item.title}}</h6>
															<p  class="m-0">
																{{item.descriptionDropdown}}
															</p>
														</div>
													</a>
											
										{% endfor %}
									</div>
							
								</div>
						  	</div>
						
					</li>
					{% else %}
							<li class="nav-item 	">
								<a class="nav-link uppercase small-text light {% if page.url == item.link %}
								custom-active
								{%else%}
								{% if page.collection == "training_posts" %}
									{% if item.title == "Trainings" && page.layout == "training" %}
									custom-active
									{%endif%}
								{% endif %}
								{% endif %} " href="{{item.link}}">{{item.title}}</a>
				
					</li>
					{% endif %}
				
				
				{% endfor %}
				<li>
					<a href="/contact">
                        <button  class=" primary-button px-3  py-2 text-white uppercase bg-pink mt-2 mt-lg-0 ms-lg-2" >Contact</button>
                    </a>
				</li>
				
			</ul>
		</div>
	</div>
</nav>