<!--<nav id="main-nav" class="main-nav nav-collapse">-->
<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
    <li class="nav__item"><a href="/toolkit" class="nav__link">Toolkit</a></li>
            <li class="nav__item"><a href="/about" class="nav__link">About</a></li>
			<li class="nav__item"><a href="/blog" class="nav__link">Blog</a></li>
<!--  {% for page in site.pages %}-->
<!--    {% unless page.name == 'tags.html' or page.name == '404.html' %}-->
<!--      {% if page.title %}-->
<!--      <li class="nav__item">-->
<!--        <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>-->
<!--      </li>-->
<!--      {% endif %}-->
<!--    {% endunless %}-->
<!--  {% endfor %}-->

</ul>
<!--</nav>-->