<nav class="navbar navbar-expand-lg navbar-light py-3">
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link uppercase small-text light" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase small-text light" href="/toolkit">Toolkit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase small-text light" href="/workshops">Workshops</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase small-text light" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link uppercase small-text light" href="/blog">Blog</a>
      </li>
    </ul>
  </div>
</nav>