/* Buttons */
.button {
  display: inline-block;
  padding: 0 1.8rem;
  font-size: 12px;
  letter-spacing: 1.3px;
  font-weight: 700;
  white-space: nowrap;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;

  &--primary {
    height: 50px;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    color: #fff !important;
    background-color: $dark;
    &:hover {
      background-color: darken($brand-color, 5%);
    }
  }

  &--brand {
    border-radius: 5px;
    background-color: $brand-color;
      &:hover {
        background-color: darken($brand-color, 3%);
      }
  }

  &--middle {
    height: 50px;
    width: 100%;
    max-width: 280px;
    line-height: 50px;
    font-weight: 700;
  }

  &--big {
    display: block;
    width: 100%;
  }

  &--dark {
    background-color: $dark;
    &:hover {
      background-color: $brand-color;
    }
  }
}