/* Footer Widgets */
.footer-widgets {
  margin-top: 60px;
}

.widgets-box {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $gray;
  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: 0;
    display: block;
    width: 30px;
    height: 1px;
    background-color: $dark;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 30px;
    height: 1px;
    background-color: $dark;
  }
}

.widget__title {
  position: relative;
  padding: 15px 0;
  margin-bottom: 30px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  background-color: $gray;
}

.widget {
  @media only screen and (max-width: $desktop) {
    margin-bottom: 60px;
  }
  @media only screen and (max-width: $mobile) {
    margin-bottom: 50px;
  }
}

// Widget Recent Posts
.recent-posts {
  position: relative;
  display: flex;
  margin-left: 4px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    .recent-posts__count {
      color: $brand-color;
    }
  }
}

.recent-posts__header {
  margin-right: 15px;
}

.recent-posts__image {
  position: relative;
  display: block;
  margin-right: 15px;
  min-width: 80px;
  height: 80px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    z-index: -1;
    display: block;
    width: 88px;
    height: 88px;
    border: 1px solid $gray;
    border-radius: 5px;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: 300ms ease-in-out;
    background-color: rgba(255,255,255,0.1);
    opacity: 0;
    visibility: hidden;
  }
}

.recent-posts__title {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
}

.recent-posts__date {
  margin-bottom: 5px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #b7b9c2;
}

.recent-posts__count {
  position: absolute;
  top: -12px;
  left: -4px;
  display: block;
  width: 25px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  color: $dark;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: 350ms;
}


//  Widget Newsletter
.widget-newsletter {
  @media only screen and (max-width: $desktop) {
    margin-bottom: 0;
  }
}

.newsletter-title {
  margin: 0 0 15px;
  font-size: 21px;
  line-height: 1;
  text-align: center;
}

.newsletter-subtitle {
  max-width: 290px;
  width: 100%;
  margin: 0 auto 25px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.newsletter-email {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 0 0 25px;
  padding: 8px 15px;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  color: #959595;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  border-radius: 3px;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
  transition: border-color .2s ease-in-out;
  cursor: text;
  &::placeholder {
    font-size: 12px;
    text-transform: uppercase;
  }
  &:focus {
    color: $dark;
    border-color: $brand-color;
  }
}

// Footer
.footer {
  position: relative;
  margin: 50px 0;

  .footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media only screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }
}

/* Copyright */
.copyright {
  font-size: 12px;
  text-align: center;
  color: $dark;
  a {
    color: $dark;
    &:hover {
      color: $brand-color;
    }
  }
}