/* Pagination */
.load-more-section {
  margin: 20px 0;
  text-align: center;

  button {
    i {
      margin-left: 5px;
    }
  }

  @media only screen and (max-width: $mobile) {
    margin: 0;
  }
}