{% block html_head %}
	{% include '../_partials/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% block page_header %}
		{% endblock %}


		<main role="main" class="site-main">
			<div class="wrapper">
				{% block content %}
				{% endblock %}
			</div>
		</main>

		<footer class="site-footer">
			{% block footer %}
				<div class="wrapper">
					{% include '../_partials/footer.twig' %}
				</div>
			{% endblock %}
		</footer>
	<script src="js/main.js"></script>
	</body>
</html>
