---
lang: "en"
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	
<head>
	{% include html-header.html %}
	{% include meta-tags.html %}
</head>

	<body class="{{body_class}}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG5L82H"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
		<main role="main" class="site-main my-site">
			<div class="wrapper">
				{{ content }}
			</div>
		</main>

		<footer class="site-footer">
				<div class="wrapper">
					{% include rp_footer.html %}
				</div>
		</footer>
	<script src="{{ site.baseurl }}/js/main.js"></script>
	</body>
</html>
