<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

<!--    <link rel="stylesheet" href="/css/style.css">-->

<body>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}
  <!-- begin content -->
  <main>
    {{ content }}
  </main> 
  <!-- end content -->
  
  <div class="top" title="Top"><i class="bi bi-arrow-up-short"></i></div>
  <footer class="site-footer">
    <div class="wrapper">
      {% include rp_footer.html %}
    </div>
  </footer>
  <script src="/js/main.js"></script>
  {% include javascripts.html %}

</body>

</html>