---
layout: olania
---
{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
      <div class="post-head">
        <div class="post-info">
          {% if page.tags.size >= 1 %}
          <div class="post-tags">
            {% for tag in page.tags %}
            <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post-tags__tag">{{ tag }}</a>
            {% endfor %}
          </div>
          {% endif %}
          <span class="post-date">
            <time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time>
          </span>
        </div>
        <h1 class="post-title">{{ page.title | escape }}</h1>
      </div>
      <div class="image-box">
        <img class="post-image" src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<div class="container mb-5">
  <div class="row">
    <div class="col col-8 push-2 col-d-10 col-m-12 push-d-1 push-m-0">
      <!-- begin post -->
      <article class="post">

        <div class="post__content">
          {{ content }}
        </div>

        <div class="post__share">
          <div class="share__title">Share:</div>
          <ul class="share__list list-reset">
            <li class="share__item">
              <a class="share__link share__facebook"
                href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Facebook" rel="nofollow"><i class="ion ion-logo-facebook"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__twitter"
                href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&url={{ site.url }}{{ site.baseurl }}{{ page.url }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Twitter" rel="nofollow"><i class="ion ion-logo-twitter"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__linkedin"
                href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title | uri_escape }}&summary={{ page.description | uri_escape }}&source={{ site.title | uri_escape }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on LinkedIn" rel="nofollow"><i class="ion ion-logo-linkedin"></i></a>
            </li>

            <li class="share__item">
              <a class="share__link share__pinterest"
                href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ page.url }}&amp;media={{ site.url }}{{ site.baseurl }}{{ page.image }}&amp;description={{ page.title | uri_escape }}"
                onclick="window.open(this.href, 'pop-up', 'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;"
                title="Share on Pinterest" rel="nofollow"><i class="ion ion-logo-pinterest"></i></a>
            </li>
          </ul>
        </div>

        <div class="post-author">
          <a href="{{site.baseurl}}/about/" class="post-author__image"
            style="background-image: url({{site.baseurl}}{{site.author.avatar}})" aria-label="{{site.author.name}}"></a>
          <div class="post-author__info">
            <a class="post-author__name" href="{{site.baseurl}}/about/">{{site.author.name}}</a>
            <p class="post-author__bio">{{site.author.bio}}</p>
            <div class="post-author__meta">
              {% for social in site.author-social %}
              <a class="post-author__link" href="{{social.link}}" target="_blank">{{social.name}}</a>
              {% endfor %}
            </div>
          </div>
        </div>
        {% if site.disqus-identifier %} {% include disqus-comments.html %} {% endif %}
      </article>
      <!-- end post -->
    </div>
  </div>
</div>

<!-- begin footer-widgets -->
<section class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col col-12 col-d-10 push-d-1 col-m-12 push-m-0">
        <div class="widgets-box">
          <div class="row">
            <div class="col col-4 col-d-12 col-m-12">
              <div class="widget widget-recent">
                <div class="widget__head">
                  <h4 class="widget__title">Recent Posts</h4>
                </div>
                {% for post in site.posts limit:3 %}
                <div class="recent-posts">
                  {% if post.image %}
                    <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                  {% else %}
                  {% endif %}
                  <span class="recent-posts__count">{{ forloop.index }}</span>
                  <div class="recent-posts__content">
                    <div class="recent-posts__date">
                      <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                    </div>
                    <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="col col-4 col-d-12 col-m-12">
            {% if site.gallery %}
            <div class="widget widget-gallery">
              <div class="widget__head">
                <h4 class="widget__title">{% if site.gallery.name %}{{site.gallery.name}}{% else %}Gallery{% endif %}</h4>
              </div>
              {% for post in site.posts  %}
              {% if post.title == "A Good Vision Doesn’t Have to Be Big and Hairy" or
                    post.title == "The Three Most Common Diseases Your Product Can Catch" or
                    post.title == "The Hippocratic Oath of Product"
              %}
              <div class="recent-posts">
                {% if post.image %}
                <a class="recent-posts__image" href="{{ post.url }}" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
                {% else %}
                {% endif %}
                <div class="recent-posts__content">
                  <div class="recent-posts__date">
                    <time datetime="{{ post.date | date_to_xmlschema }}">{{post.date | date: "%b %-d, %Y"}}</time>
                  </div>
                  <h6 class="recent-posts__title"><a href="{{ post.url }}">{{ post.title }}</a></h6>
                </div>
              </div>
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            </div>
            <div class="col col-4 col-d-12 col-m-12">
              {% if site.mailchimp %}
              <div class="widget widget-newsletter">
                <div class="widget__head">
                  <h4 class="widget__title">Newsletter</h4>
                </div>
                <h3 class="newsletter-title">Get Interesting News</h3>
                <p class="newsletter-subtitle">Subscribe to our newsletter and we’ll send you the emails of latest posts.</p>
                <form action="https://radicalproduct.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&amp;id=8002eca168"
                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"  class="newsletter-form validate"
                      target="_blank" novalidate>
                  <div class="newsletter-group">
                    <div class="newsletter-group-top">
                      <label class="screen-reader-text" for="mce-email">My Email</label>
                      <input type="email" value="" name="EMAIL" class="newsletter-email required email" id="mce-EMAIL" placeholder="Email Address">
                      <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
                      </div>
                    </div>
                    <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button button--primary button--big">Subscribe
                    </button>
                  </div>
                </form>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end footer-widgets -->