---
layout: olania
---

<section class="landing-banner section-padding">
    <div class="container-xxl">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6">
                <h1 class="uppercase bold pink-text m-0">{{page.title}}</h1>
                <h1 class="uppercase bold">Training</h1>
                <p class="pe-5 me-4" >Level up as a team and translate your shared vision into everyday activities. This training helps product teams avoid getting stuck in tactical execution and helps teams think strategically to create tangible outcomes. </p>
                <div >
                    <a href="#toolkit" class="primary-button d-inline-block text-white uppercase bg-pink link me-2">book training</a>
                    <a href="/training" class="secondary-button d-inline-block pink-text uppercase bg-light-pink mt-2"  >view all training</a>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <img class="training-img img-fluid" src="{{page.image}}" alt="training-image">
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-gray wavy-bg-img2" id="toolkit">
    <div class="container-xxl">

		<div class="text-start">
            <h2 class="subtitle uppercase mb-3">{{page.titleOne}}</h2>
            <p class="text light w-75 mb-5">{{page.problemDescription}}</p>
            <h2 class="subtitle uppercase pt-5">{{page.titleTwo}}</h2>
            <p class="text light w-75 me-2 pb-3">{{page.descriptionTitleTwo}}</p>
            <div class="row g-5">
                <div class="d-flex col-5 ">
                    <div class="training rounded-3 bg-primary p-2 me-2">
                            <img src="{{page.iconSubtitleOne}}" alt="{{page.iconSubtitleOne}}">
                    </div>
                    <div>
                        <h6 class="fw-bold m-0">{{page.subtitleOne}}</h6>
                        <p class="w-75">{{page.descriptionSubtitleOne}}</p>
                    </div>
                </div>
                <div class="d-flex col-5 ">
                    <div class="training rounded-3 bg-primary p-2 me-2">
                            <img src="{{page.iconSubtitleTwo}}" alt="{{page.iconSubtitleOne}}">
                    </div>
                    <div>
                        <h6 class="fw-bold m-0">{{page.subtitleOne}}</h6>
                        <p class="w-75">{{page.descriptionSubtitleTwo}}</p>
                    </div>
                </div>
                <div class="d-flex col-5  ">
                    <div class="training rounded-3 bg-primary p-2 me-2">
                    <img src="{{page.iconSubtitleThree}}" alt="{{page.iconSubtitleOne}}">
                    </div>
                    <div>
                        <h6 class="fw-bold m-0">{{page.subtitleOne}}</h6>
                        <p class="w-75">{{page.descriptionSubtitleThree}}</p>
                    </div>
                </div>
                <div class="d-flex col-5  ">
                    <div class="training rounded-3 bg-primary p-2 me-2">
                            <img src="{{page.iconSubtitleFour}}" alt="{{page.iconSubtitleOne}}">
                    </div>
                    <div>
                        <h6 class="fw-bold m-0">{{page.subtitleOne}}</h6>
                        <p class="w-75">{{page.descriptionSubtitleFour}}</p>
                    </div>
                </div>
                
            </div>
        </div>
	</div>
</section>
