<div class="topbar">
	<a href="/">
		{% if logo_type == "inverted" %}
		<img class="topbar__logo" src="img/logo-inverted.svg" alt="" class="logo">
		{% else %}
	    	<img class="topbar__logo" src="img/logo.svg" alt="" class="logo">
		{% endif %}
	</a>
	<nav id="main-nav" class="main-nav nav-collapse">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/toolkit">Toolkit</a></li>
			<li><a href="https://medium.com/radical-product">Blog</a></li>
		</ul>
	</nav>
</div>