.topbar
{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 1em;

    justify-content: space-between;
}

.topbar__logo
{
    position: relative;
    top: 4px;
    left: -1em;
}

.header--landing .main-nav ul {
    color: $white;
}

.header--inner .main-nav ul {
    color: $red;
}

.main-nav ul
{
    display: flex;
    flex-direction: row;
    margin-left: 9px;
    
    font-size: 0.75em;
    font-weight: 500;

    list-style-type: none;

    text-align: center;
    text-transform: uppercase;

}

.main-nav a
{
    display: block;

    padding: 10px;

    text-decoration: none;

    color: inherit;
}


.header--landing
{
    color: $white;
    background-image: $linear-gradient__orange-red-pink;
}

.header--inner
{
    padding-bottom: 10px;

    color: $red;
}

.hero
{
    overflow: hidden;
}

.hero--warm
{
    background-image: $linear-gradient__orange-red-pink;
}

.header--landing .cta
{
    color: $red;
    background-color: $white;
}

.custom-active{
    color: #FF1A4D !important;
    padding-bottom: 2px !important;
    border-bottom: solid 2px #FF1A4D !important;
}

// WHEN HERO CONTAINS ISO-CARDS:

.hero .iso-cards
{
    display: flex;
}
