.top-home{
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue-section{
    background-color: #3B5DEF;
    .cards-button{
        background-color: rgba(255,255,255,0.2) !important;

    }
}

.question {

    button {
        background-color: transparent;
        border: 0;
    }

    .answer {
        font-weight: 300;
        font-size: 1rem;
        height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        a {
            color: #FF0058;
            text-decoration: none;
            &:hover {color: #FF0058; }
        }
    }
}

.question.active {
    h5 { color: #3B5DEF;}
    .answer {
        padding-top: 1rem;
        height: auto;
    }
}
