.top-home{
    width: 900px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue-section{
    background-color: #3B5DEF;
    .cards-button{
        background-color: rgba(255,255,255,0.2) !important;

    }
}

