//New Style
html {
    font-size: 16px !important;
}

body {
    font-family: 'Poppins', sans-serif !important;
}

.title {
    size: 3.125rem;
}

.subtitle {
    size: 1.25rem;
    font-weight: 700;
}

.big-text {
    size: 1.375rem;
}

.text{
    font-size: 1.125;
}

.small-text {
    font-size: 1rem;
}

.link {
    font-size: 1rem;
    text-decoration: none;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300 !important;
}

.uppercase {
    text-transform: uppercase;
}