---
title: "About me | Radhika Dutt"
metaDescription: ""
layout: default
image: "/images/site-preview.png"

tagline: "Radhika"
pressCTA: "Download the Press Kit"
pressKitLink: "/pdf/press-kit.pdf"

thinkingBook: "The Radical Product Thinking book"
bookInnovating: "The New Mindset for Innovating Smarter"
bookDescription: "Radical Product Thinking gives organizations a repeatable methodology for
building world-changing products - the approach has been adopted by
organizations around the world including startups, multinationals, nonprofits,
and government agencies. Be prepared to toss out everything you know 
about a good vision and learn how to measure progress to create
revolutionary products. The best part? You don't have to be a natural-born 
visionary to produce extraordinary results."

bookshopLink: "https://bookshop.org/books/radical-product-thinking-the-new-mindset-for-innovating-smarter/9781523093311"
barnesLink: "https://www.barnesandnoble.com/s/radical%20product%20thinking"
amazonLink: "https://www.amazon.com/Radical-Product-Thinking-Mindset-Innovating-ebook/dp/B08ZNV7SW4/ref=sr_1_1?dchild=1&keywords=radical+product&qid=1624988263&sr=8-1"
bookPeakLink: "/pdf/excerpt.pdf"
bookPeakCopy: "TAKE A PEEK"

historyTitle: "Author of Radical Product Thinking," 
historyTitle2: "Product Leader and Entrepreneur."

historyCopy: "A globally-recognized thought leader in product management,
Radhika is a highly engaging speaker and the author of "

historyCopy2: "Radhika envisions a world where every organization can be 
vision-driven and build world-changing products. Drawing from
over 20 years of experience, she helps transform organizations to 
be vision-driven through her talks, training, and consulting. Her 
work helps leaders and individual contributors level up and 
translate a shared vision into their everyday activities."

storyRadical: "The story behind Radical"
storyRadical2: "Product Thinking."

history: "My journey to writing Radical Product Thinking started with a
venting session discussion about product diseases with two ex-
colleagues, Geordie Kaytes and Nidhi Aggarwal. Without a
methodology to help organizations stay vision-driven, we kept
seeing good products go bad."
hiistoryCopy: "In 2017, we developed the Radical Product Thinking framework 
and a free toolkit. Today Radical Product Thinking has been 
adopted by organizations around the world including startups,
multinationals, nonprofits, and government agencies."

aboutLinkCopy: "Learn about our trainings"
aboutLink: "/trainings"


learn: "Learn more about Radhika’s work:"



testimonialsTag: "Testimonials"
testimonialsTitle: "What Radical Product Thinkers say"
testimonialsCopy: "The vision behind RPT is to make it easier for you to build dramatically better products that bring
the world a little closer to the one you want to live in."
testimonialsLabel: "Share your history with radical product thinking"
testimonialsCTA: "Share Story"

galleryTag: "Articles, Podcasts & Videos"
galleryTitle: "Get to know Radical Product Thinking"

helpTitle: "GET HANDS-ON HELP"
helpCopy: "If you want hands-on help integrating Radical Product thinking into your organization. We offer coaching,
training, and workshops to individuals and teams. Please get in touch below to start the conversation."
helpCTA: "Let's chat"
emailInputPlaceholder: Enter your email
---

<header>{% include nav.html %}</header>

<section class="landing-about  section-padding">
  <div class="container-xxl">
    <div class="row d-flex flex-md-row-reverse justify-content-md-center  gap-3  text-md-start gap-md-0 ">
      <div class="col-8 col-lg-6 d-flex justify-content-lg-end ">
        <img class="training-img img-fluid mx-5" width="350px" src="/images/imagen_radical.png" alt="imagen_radical">
      </div>
      <div class="col-12 col-lg-6 text-center text-lg-start  d-flex flex-column ">
        <h1 class="title uppercase bold pink-text mt-4">{{page.tagline}}
          <span class="text-dark ">DUTT </span>
        </h1>
        <h3 class="subtitle uppercase">{{page.historyTitle}}</h3>
        <h3 class="subtitle uppercase">{{page.historyTitle2}}</h3>
        <p class="text light mt-4 lh-base fs-5"> {{page.historyCopy}}
          <a href="" class="pink-text fs-5 link">Radical Product Thinking.</a>
        </p>
        <p class="text light lh-base fs-5"> {{page.historyCopy2}}</p>
       
      </div>
   
    </div>

    <div class="row">

      <span class="text-center text-lg-start fw-semibold fs-5 fs-lg-6 mb-2">{{page.learn}}</span>
      {% for card in site.data.cards%}
        <div class="col-sm-12 col-md-6 pt-sm-3 mb-3 mb-md-0  col-lg">
          <div class="bg-cards p-4">
            <div class=" text-xxl-start">
              <h5 class="fw-semibold fs-3 mb-1"> <i class="{{card.icon}}"> </i></h5>
              <p class="fw-semibold small-text mb-1">   {{card.title}}</p>
              <p class="text light fs-6 small-text">{{card.description}}</p>  
            </div>
            <div class="col-12  text-lg-start text-primary ">
              <a href="" class="link"> Learn More
                <i class="{{card.link}}"></i>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
   </div>
 
   


</div>
</section>

<section class="bg-purple wavy-bg-img py-5">
  <div class="container-xxl">
    <div class="row d-flex justify-content-center">
      <div class="col-6 col-lg-4">
          <img class="training-img img-fluid" src="/images/bookk.png" alt="book1">
      </div>
      <div class="col-12 text-center col-md-8 text-lg-start  pt-5 px-5">
   <h5 class= "text-white  text light fs-lg-5 mx-3">{{page.thinkingBook}} </h5>
   <h3 class="subtitle uppercase text-white  text-lg-start fs-3 mx-3">{{page.bookInnovating}} </h3>
   <p class="text-white text light mt-4 mx-3">{{page.bookDescription}}</p>
   <div class="d-flex flex-column-reverse flex-lg-row gap-3 gap-lg-0 justify-content-between mt-5 mx-3">
   <div class="d-flex pt-4  justify-content-between align-items-center ">
    <a type="buttom" href="{{page.bookPeakLink}}" class="btn btn-primary w-100 d-flex justify-content-between gap-3 btn-lg text light rounded-pill" download>{{page.bookPeakCopy}}
    <i class="bi bi-arrow-right"></i></a>
    
   </div> 
   <div class="d-flex pt-4 justify-content-center align-items-center ">
    <span class="d-block mb-0 text-white small-text light">GET IT ON:</span>
    <a href="{{page.bookshopLink}}" class=" white-text mb-1 mx-1"><img src="/images/bookshop.png"
      alt="" width="50px"></a>
      <a href="{{page.amazonLink}}" class=" white-text mb-1 mx-1"><img src="/images/amazon.png"
        alt="" width="50px"></a>
   <a href="{{page.barnesLink}}" class=" white-text mx-1"><img src="/images/barnes.png" alt=""
        width="50px"></a>
   </div> 
   </div>
      </div>
    </div>
  </div>
</section>

<section class="section-padding">
  <div class="container-xxl">
<div class="row d-flex justify-content-between gap-3 gap-lg-0">
  <div class="col-12 col-lg-6 pe-lg-5 d-flex flex-column  text-lg-start mt-5">
    <h2 class="subtitle uppercase subtitle"> {{page.storyRadical}}</h2>
    <h2 class="subtitle uppercase subtitle"> {{page.storyRadical2}}</h2>
    <p class="text light">{{page.history}}</p>
    <p class="text light">{{page.hiistoryCopy}}</p>
    <a class="link pink-text uppercase mb-2" href="{{page.aboutLink}}">{{page.aboutLinkCopy}} <i
      class="bi bi-arrow-right"></i></a>
<a class="link purple-text uppercase " href="/speaker">Learn about keynote talks <i
      class="bi bi-arrow-right"></i></a>
  </div>
  <div class="col-12 col-lg-6 position-relative d-flex ">
    <img src="/images/video-training-modal.png" alt="/images/video-training-modal.png" width="100%">
    <button class="btn-play" id="botonTrainingModal" type="button" data-toggle="modal"
        data-target="#videoModal" data-theVideo="https://www.youtube.com/embed/6wWspnApNdU">
        <img class=" speaker-img" src="/images/session-icons-pink/play.png" alt="play" width="70px">
    </button>
  </div>
</div>
  </div>
</section>

<section class="section-padding bg-gray-2">
  <div class="container-xxl">
    <h6 class="text uppercase purple-text text-center  fs-5">
      {{page.testimonialsTag}}
    </h6>
    <h2 class="subtitle uppercase text-center mb-5">{{page.testimonialsTitle}}</h2>
  </div>
  <div class="container-xxl">
    <div class="row">
      {% for testimonial in site.data.testimonials.about %}
        <div class=" col-12 col-md-6  pt-3 position-relative">
            <div class="bg-white p-4 bg-testimonial text  light">
              <div>
                  <div>
                    <p>
                      {{testimonial.testimonial}}
                    </p>
                  </div>
                  <div class="d-flex gap-2 mt-5">
                    <div>
                      <img src="{{testimonial.picture}}" width="60px">
                    </div>
                    <div class="d-flex flex-column ">
                      <h5 class="m-0">
                        {{testimonial.author}}
                      </h5>
                      <p class="m-0 text-muted">
                        {{testimonial.job}}
                      </p>
                    </div>
                  </div>
              </div>
            </div>
            <img src="/images/quote.png" class="position-absolute "  style="top: 40px; left:30px;" alt="" width="60px"> 
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-padding bg-gray">
  <div class="container-xxl">
    <h6 class="text uppercase purple-text text-center fs-5">
      {{page.galleryTag}}
    </h6>
    <h2 class="subtitle uppercase text-center mb-5">{{page.galleryTitle}}</h2>

    <div class="row">
      {% for article in site.data.press.articles %}
      <div class="col-12 col-md-4 mb-5">
        <a href="{{article.link}}" class="link black-text" target="_blank">
          <img src="{{article.img}}" alt="" width="100%" class="d-block mb-2" />
          <span class="gray-text light small-text badge bg-pink">{{article.type}}</span>
          <h6 class="text bold mb-0">{{article.title}}</h6>
          <span class="gray-text light small-text">{{article.source}}</span>
        </a>
      </div>
      {% endfor %} {% for video in site.data.press.videos %} {% if
      video.available %}
      <div class="col-12 col-md-4 mb-5">
        <a href="{{video.link}}" class="link black-text" target="_blank">
          <img src="{{video.img}}" alt="" width="100%" class="d-block mb-2" />
          <span class="gray-text light small-text badge bg-purple">{{video.type}}</span>
          <p class="text bold mb-0">{{video.title}}</p>
          <span class="gray-text light small-text">{{video.source}}</span>
        </a>
      </div>
      {% endif %} {% endfor %} {% for podcast in site.data.press.podcast %}
      <div class="col-12 col-md-4 mb-5">
        <a href="{{podcast.link}}" class="link black-text" target="_blank">
          <img src="{{podcast.img}}" alt="" width="100%" class="d-block mb-2" />
          <span class="gray-text light small-text badge bg-green">{{podcast.type}}</span>
          <p class="text bold mb-0">{{podcast.title}}</p>
          <span class="gray-text light small-text">{{podcast.source}}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="bg-purple wavy-bg-img py-5">
  <div class="container-xxl white-text">
    <h2 class="subtitle uppercase">{{page.helpTitle}}</h2>
    <p class="text light">
      If you want hands-on help integrating Radical Product thinking into your
      organization.
      <br />
      We offer coaching, training, and workshops to individuals and teams.
      Please get in touch below to start the conversation.
    </p>
    <div>
      <form
        action="https://radicalproduct.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&amp;id=7fc7e415ad"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup"
        target="_blank" novalidate>
        <fieldset class="d-flex flex-column flex-md-row">
          <input type="email" value="" name="EMAIL" class="required email text-input mid-input text light me-1 mb-2"
            id="mce-EMAIL" placeholder="{{page.emailInputPlaceholder}}" />
          <div style="position: absolute; left: -5000px" aria-hidden="true">
            <input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="" />
          </div>
          <div class="clear">
            <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
              class="primary-button text-white uppercase bg-pink">
              {{page.helpCTA}}
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "AboutPage",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.radicalproduct.com/about/"
    },
    "headline": "About me | Radhika Dutt",
    "description": ""
  }
</script>