---
title: Radical Product
layout: default

tagline: "Radical Product Thinking is a methodology for building visionary products. Learn how you can innovate smarter by iterating less to achieve more."
toolkitCTA: "Get the free toolkit"
emailInputPlaceholder: "Enter your email"

bookTagline: "Create purpose-driven change through your product."
bookTitle: "RADICAL PRODUCT THINKING"
bookCTA: "Get the book"
bookshopLink: "/"
barnesLink: "/"
amazonLink: "/"

aboutTagline: "Join the movement that’s building"
aboutTitle: "Vision-Driven Products"
aboutCopy: "Iteration rules product development, but it isn’t enough to produce dramatic results. Too many good products become bloated, fragmented, directionless, and driven by irrelevant metrics. Vision-driven products avoid these “product diseases” by having a clear reason for being, which drives strategy, prioritization, and execution."
aboutLinkCopy: "Learn more about Radical Product Thinking"
aboutLink: "/about"

resourcesTag: "Radical Product Resources"
resourcesTitle: "Innovate Smarter"
resourcesCopy: "Start working with the radical product methodology, the book and the toolkit will guide you through strategic exercises with your team. If you need hands-on help, we're here for you."
resourcesLinkCopy: "Get all Resources for Radical product thinking"
resourcesLink: "/toolkit"

workshopTagline: "Radical Product Talks"
workshopTitle: "VIDEOS FROM PAST EVENTS"
workshopLinkCopy: "Check our workshops"
workshopLink: "/workshops"

helpTitle: "GET HANDS-ON HELP"
helpCopy: "If you want hands-on help integrating Radical Product thinking into your organization. We offer coaching, training, and workshops to individuals and teams. Please get in touch below to start the conversation."
helpCTA: "Let's chat"
---

<header>
    {% include nav.html %}
</header>

<section class="landing-banner banner-padding">
    <div class="container-xxl text-center">
        <h1 class="uppercase bold title mb-3">Create <span class="pink-text">World-Changing</span>  products, Transforming your <span class="pink-text">vision</span> into <span class="pink-text">reality</span>.</h1>
        <p class="big-text light tight-container mb-4">{{page.tagline}}</p>
        <div>
            <form action="https://kayt.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&id=8002eca168"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup"
                target="_blank" novalidate>
                <fieldset class="d-flex flex-column flex-md-row justify-content-center">
                    <input type="email" value="" name="EMAIL" class="required email text-input mid-input text light me-1 mb-2" id="mce-EMAIL" placeholder="{{page.emailInputPlaceholder}}">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-button text-white uppercase bg-pink">{{page.toolkitCTA}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>

<section class="py-3 bg-gray">
    <div class="container-xxl text-center text-md-start">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-2 text-center">
                <img src="/images/book.png" alt="Book Cover" class="book-image">
            </div>
    
            <div class="col-12 col-md-10">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-12 col-lg-9">
                        <h6 class="handwritten-text mb-0">{{page.bookTagline}}</h6>
                        <h2 class="subtitle pink-text uppercase bold mb-2">{{page.bookTitle}}</h2>
                    </div>
                    <div class="col-12 col-md-12 col-lg-3">
                        <a href="{{page.bookshopLink}}" class="bookshop white-text mb-1"><img src="/images/bookshop.png" alt="" width="50px"></a>
                        <a href="{{page.amazonLink}}" class="amazon white-text mb-1"><img src="/images/amazon.png" alt="" width="50px"></a>
                        <a href="{{page.barnesLink}}" class="barnes white-text"><img src="/images/barnes.png" alt="" width="50px"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container-xxl">
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <iframe width="100%" height="320" src="https://www.youtube.com/embed/6wWspnApNdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-12 col-md-6">
                <h6 class="purple-text uppercase">{{page.aboutTagline}}</h6>
                <h2 class="subtitle uppercase">{{page.aboutTitle}}</h2>
                <p class="text light">{{page.aboutCopy}}</p>
                <a class="link pink-text uppercase" href="{{page.aboutLink}}">{{page.aboutLinkCopy}} <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="bg-gray section-padding">
    <div class="container-xxl">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <h6 class="text uppercase purple-text">{{page.resourcesTag}}</h6>
                <h2 class="subtitle uppercase">{{page.resourcesTitle}}</h2>
                <p class="text light">{{page.resourcesCopy}}</p>
                <a class="link pink-text uppercase" href="{{page.resourcesLink}}">{{page.resourcesLinkCopy}} <i class="bi bi-arrow-right"></i></a>
            </div>
            <div class="col-12 col-md-6">
                <img src="/images/resources.png" alt="" width="100%">
            </div>
        </div>
        <div class="py-5"></div>
    </div>
</section>

<section class="pull-up">
    <div class="container-xxl">
        <div class="row bg-purple wavy-bg-img round py-2">
            {% for testimonial in site.data.testimonials.book %}
            <div class="col-12 col-md-6 white-text p-4">
                <p class="text light">{{testimonial.testimonial}}</p>
                <span class="small-text light fst-italic">- {{testimonial.author}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container-xxl">
        <h6 class="text uppercase purple-text text-center">{{page.workshopTagline}}</h6>
        <h2 class="subtitle uppercase text-center">{{page.workshopTitle}}</h2>

        <div class="row">
            {% for workshop in site.data.workshops %}
            <div class="col-12 col-md-4">
                <a href="{{workshop.link}}" class="link black-text" target="_blank">
                    <img src="{{workshop.thumbnail}}" alt="" width="100%" class="d-block mb-2">
                    <span class="gray-text light">{{workshop.date}}</span>
                    <p class="text bold">{{workshop.title}}</p>
                    <span class="light">{{workshop.copy}}</span>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="text-center mt-3">
            <a href="{{page.workshopLink}}" class="pink-text link uppercase">{{page.workshopLinkCopy}} <i class="bi bi-arrow-right"></i></a>
        </div>
    </div>
</section>


<section class="bg-purple wavy-bg-img py-5">
    <div class="container-xxl white-text">
        <h2 class="subtitle uppercase">{{page.helpTitle}}</h2>
        <p class="text light">{{page.helpCopy}}</p>
        <div>

            <form action="https://radicalproduct.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&amp;id=7fc7e415ad"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup"
                target="_blank" novalidate>
                <fieldset class="d-flex flex-column flex-md-row">
                    <input type="email" value="" name="EMAIL" class="required email text-input mid-input text light me-1 mb-2" id="mce-EMAIL" placeholder="{{page.emailInputPlaceholder}}">
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
                    </div>
                    <div class="clear">
                        <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-button text-white uppercase bg-pink">{{page.helpCTA}}</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</section>