---
title: Toolkit
layout: default

tagline: "Get the tools you need to start building Radical Products."

bannerBookTag: "Create purpose-driven change through your product."
bannerBookTitle: "THE RADICAL PRODUCT THINKING BOOK"
bannerBookCTA: "Get the book:"
bookshopLink: "https://bookshop.org/books/radical-product-thinking-the-new-mindset-for-innovating-smarter/9781523093311"
barnesLink: "https://www.barnesandnoble.com/s/radical%20product%20thinking"
amazonLink: "https://www.amazon.com/Radical-Product-Thinking-Mindset-Innovating-ebook/dp/B08ZNV7SW4/ref=sr_1_1?dchild=1&keywords=radical+product&qid=1624988263&sr=8-1"

bannerToolkitTag: "Worksheets to help you translate your vision into reality."
bannerToolkitTitle: " THE FREE RADICAL PRODUCT THINKING TOOLKIT"
bannerToolkitInputPlaceholder: "Your email"
bannerToolkitCTA: "Get The Free Toolkit"
bannerToolkitCTA2: "Learn More"

toolkitTag: "The toolkit"
toolkitTitle: "What is in the toolkit"
toolkitCopy: "The Radical Product Toolkit is a practical framework that you can use by yourself or with your team. The worksheets guide you through the RPT methodology making it easier to craft a compelling vision for your product, a product strategy to translate your vision into actionable steps, a rubric to evaluate your priorities, and a plan to translate the above into activities and metrics that guide execution."

bookTag: "The Book"
bookTitle: "Radical Product Thinking: The New Mindset for Innovating Smarter"
bookCopy: "The Radical Product Thinking book offers a compelling antidote to short-term thinking so prevalent in product development. Through insightful and refreshing examples from around the world, the book guides readers through through the five elements of the methodology (Vision, Strategy, Prioritization, Execution, and Culture) to develop a clear process for achieving their desired change, incorporating it into daily activities, and turning RPT skills into muscle memory."
bookLink: "/"
bookLinkCopy: "Take a peak at the first few pages"

resTitle: "The Radical Resources"
resCopy: "If you have the book, here are resources to help you spread these ideas to your colleagues. Sign up to get the following:"
resList: ["Book club discussion guide so you can help your organization adopt new a smarter mindset for innovation", "Access to RPT meetups to get tips and share your learning", "Access to short animated videos to help you spread your influence and new way of thinking"]

resPlaceholder: "Enter your email"
resCTA: "subscribe"

---


<header>
    {% include nav.html %}
</header>

<section class="landing-banner section-padding toolkit-banner">
    <div class="container-xxl">
		<div class="text-center mb-5">
			<h2 class="uppercase bold subtitle mb-3">get your product vision <span class="pink-text">vision</span> out of your head. </h2>
			<p class="big-text light tight-container mb-4">{{page.tagline}}</p>
		</div>

		<div class="row d-flex">
            <div class="col-12 col-md-6 mb-3 mb-md-0">
                <div class="box p-3 p-md-5 text-center h-100">
					<img src="/images/book.png" alt="" class="mb-2"> 
					<span class="text d-block">{{page.bannerBookTag}}</span>
					<h6 class="text bold uppercase pink-text mb-3">{{page.bannerBookTitle}}</h6>
					<span class="text d-block">{{page.bannerBookCTA}}</span>
					<div class="d-flex flex-row justify-content-center">
						<a href="{{page.bookshopLink}}" class="bookshop white-text mb-1 me-1"><img src="/images/bookshop.png" alt="" width="50px"></a>
                        <a href="{{page.amazonLink}}" class="amazon white-text mb-1 me-1"><img src="/images/amazon.png" alt="" width="50px"></a>
                        <a href="{{page.barnesLink}}" class="barnes white-text"><img src="/images/barnes.png" alt="" width="50px"></a>
					</div>
				</div>
            </div>

			<div class="col-12 col-md-6">
				<div class="box p-3 p-md-5 text-center h-100">
					<img src="/images/toolkit-tablet.png" alt="" class="mb-2">
					<span class="text d-block">{{page.bannerToolkitTag}}</span>
					<h6 class="text bold uppercase pink-text mb-3">{{page.bannerToolkitTitle}}</h6>
					<div>
						<form action="https://kayt.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&id=8002eca168"
							method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup w-" 
							target="_blank" novalidate>
							<fieldset class="d-flex justify-content-center flex-column">
								<input type="email" value="" name="EMAIL" class="form-control text-input text light d-block" id="mce-EMAIL" placeholder="{{page.bannerToolkitInputPlaceholder}}">
								<div style="position: absolute; left: -5000px;" aria-hidden="true">
									<input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
								</div>
								<div class="d-flex justify-content-between flex-wrap">
									<a href="#toolkit" class="secondary-button d-inline-block pink-text uppercase bg-light-pink mt-2">{{page.bannerToolkitCTA2}}</a>
									<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-button text-white uppercase bg-pink d-inline-block mt-2">{{page.bannerToolkitCTA}}</button>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
        </div>
    </div>
</section>

<section class="section-padding bg-gray" id="toolkit">
    <div class="container-xxl">
		<div class="text-center">
            <h6 class="purple-text uppercase mb-0">{{page.toolkitTag}}</h6>
            <h2 class="subtitle uppercase mb-3">{{page.toolkitTitle}}</h2>
            <p class="text light text-container mb-5">{{page.toolkitCopy}}</p>
        </div>

		<div class="row">
			{% for canvas in site.data.canvas %}
				<div class="col-12 col-md-6 mb-4">
					<div class="box p-4 h-100">
						<img src="{{canvas.img}}" alt="" width="100%" class="mb-3">
						<h6 class="text bold uppercase">{{canvas.title}}</h6>
						<p class="text light">{{canvas.copy}}</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>

<section class="section-padding">
	<div class="container-xxl">
		<div class="row">
			<div class="col-12 col-md-6">
				<iframe width="100%" height="320" src="https://www.youtube.com/embed/MWBEQLauWxk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<div class="col-12 col-md-6">
				<h6 class="purple-text uppercase mb-0">{{page.bookTag}}</h6>
				<h2 class="subtitle uppercase mb-3">{{page.bookTitle}}</h2>
				<p class="text light text-container mb-3">{{page.bookCopy}}</p>
				<a href="{{page.bookLink}}" class="link pink-text uppercase">{{page.bookLinkCopy}} <i class="bi bi-arrow-right"></i></a>
			</div>
		</div>
	</div>
</section>

<section class="bg-purple wavy-bg-img py-5">
    <div class="container-xxl white-text">
        <div class="row d-flex align-items-center">
			<div class="col-12 col-md-6">
				<h2 class="subtitle uppercase mb-3">{{page.resTitle}}</h2>
				<p class="text light">{{page.resCopy}}</p>
				<ul class="text light reset-list mb-4">
					{% for item in page.resList %}
					<li class="mb-2 d-flex flex-row align-items-center">
						<div class="me-2"><i class="bi bi-check2"></i></div>
						<div>{{item}}</div>
					</li>
					{% endfor %}
				</ul>
				<div>
					<form action="https://radicalproduct.us10.list-manage.com/subscribe/post?u=5559a62245d86aeeefd822705&amp;id=7fc7e415ad"
						method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup"
						target="_blank" novalidate>
						<fieldset class="d-flex flex-column flex-md-row">
							<input type="email" value="" name="EMAIL" class="required email text-input mid-input text light me-1 mb-2" id="mce-EMAIL" placeholder="{{page.resPlaceholder}}">
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_5559a62245d86aeeefd822705_7fc7e415ad" tabindex="-1" value="">
							</div>
							<div class="clear">
								<button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="primary-button text-white uppercase bg-pink">{{page.resCTA}}</button>
							</div>
						</fieldset>
					</form>
				</div>

			</div>
			<div class="col-12 col-md-6">
				<img src="/images/resources.png" alt="" width="100%">
			</div>
		</div>
    </div>
</section>