---
title: workshops
layout: default

tagline: "Translate vision and strategy into everyday actions and avoid common product diseases."
emailInputPlaceholder: "Enter your email"
talkSelectPlaceholder: "Select a talk you are interested in"
bookingTitle: "Book a Talk or Workshop"
bookingDescp: "Tell us what you're interested in. We can then learn about your audience, and customize the talk or workshop to fit your needs."
talkCTA: "Get in touch"
talksLink: "Browse Talks"

needTagline: "WHY RADICAL PRODUCT THINKING"
needTitle: "ITERATE LESS AND ACHIEVE MORE"
needCopy: "Methodologies such as Lean and Agile help you use iteration to innovate faster. They give you speed, but they don't tell you where you need to go. Product diseases arise when people in teams move fast, but in different directions. Speed alone isn't enough. Radical Product Thinking (RPT) gives direction to your speed."
needLinksCopy: "Learn to apply RPT and innovate smarter:"
linkTalks: "talks"
linkWorkshops: "workshops"

speakingTagline: "Speaking"
speakingTitle: "Talks that engage and inspire teams"
speakingCopy: "Talks give teams refreshing solutions to the shortcomings of our current model for product development. These talks will help you establish and redefine your product as a mechanism for change. Be prepared to toss out everything you know about a good vision and learn how to measure progress for revolutionary product development."

workshopsTagline: "Workshops"
workshopsTitle: "Hands-on learning"
workshopsCopy: "Radical Product Thinking workshops guide you through exercises to align your team and systematically translate vision into action using five elements: Vision, Strategy, Prioritization, Execution and Measurement, and Culture. This step-by-step approach gives you a clear process for achieving the change you envision, and turns RPT skills into muscle memory. Pick the elements your team needs the most:"

speakerTag: "About the speaker"
speakerTitle: "Radhika Dutt"
speakerCopy: "Radhika Dutt is the author of the upcoming book Radical Product Thinking: The New Mindset for Innovating Smarter. She is an entrepreneur and product leader who has participated in four acquisitions, two of which were companies that she founded. She is currently Advisor on Product Thinking to the Monetary Authority of Singapore, Singapore’s financial regulator and central bank. She also teaches entrepreneurship and innovation at Northeastern’s D’Amore McKim School of Business, and is an advisor to several startups. Dutt co-founded Radical Product Thinking as a movement of leaders creating vision-driven change and is a frequent speaker at business events and conferences around the world. She serves on the board of the Association of Product Professionals. She graduated from MIT with an SB and M.Eng in Electrical Engineering, and speaks nine languages, currently learning her tenth."

bookTalkTitle: "Book a talk"
bookTalkCopy: "To inquire about availability or to schedule a talk, email"
bookTalkCopy2: "We can then plan on a 30 min call to understand your audience, customize the talk to fit your needs, and plan logistics."
email: "radhika@radicalproduct.com"
---

<header>
    {% include nav.html %}
</header>

<section class="landing-banner section-padding">
    <div class="container-xxl">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6">
                <h2 class="uppercase bold subtitle mb-3">Give your team a repeatable process for building <span class="pink-text">vision-driven</span> products </h2>
                <p class="big-text light tight-container mb-4">{{page.tagline}}</p>
            </div>

            <div class="col-12 col-md-6">
                <form class="box p-5" onsubmit="bookTalk()">
                    <div class="mb-3">
                        <h5 class="text uppercase bold">{{page.bookingTitle}}</h5>
                        <p class="text light">{{page.bookingDescp}}</p>
                    </div>

                    <div class="mb-3">
                        <input required type="email" class="form-control text-input text light" id="userEmail" placeholder="{{page.emailInputPlaceholder}}">
                    </div>
                    <div class="mb-3">
                        <select class="form-select text-input text light" aria-label="Default select example" id="selectedTalk">
                            <option selected value="a talk" >{{page.talkSelectPlaceholder}}</option>
                            {% for talk in site.data.talks %}
                                <option value="{{talk.title}}">{{talk.title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-flex justify-content-between flex-wrap">
                        <a href="#talks" class="secondary-button d-inline-block pink-text uppercase bg-light-pink mt-2">{{page.talksLink}}</a>
                        <button type="submit" class="mt-2 primary-button text-white uppercase bg-pink" >{{page.talkCTA}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="section-padding bg-gray">
    <div class="container-xxl">
        <div class="row d-flex flex-md-row-reverse align-items-center">
            <div class="col-12 col-md-6 mb-5">
                <img src="/images/theneed.png" alt="" width="100%">
            </div>

            <div class="col-12 col-md-6">
                <h6 class="purple-text uppercase">{{page.needTagline}}</h6>
                <h2 class="subtitle uppercase">{{page.needTitle}}</h2>
                <p class="text light">{{page.needCopy}}</p>
                <span class="d-block text light">{{page.needLinksCopy}}</span>
                <a class="link pink-text uppercase" href="#{{page.linkTalks}}">{{page.linkTalks}} <i class="bi bi-arrow-right"></i></a> 
                <a class="link pink-text uppercase" href="#{{page.linkWorkshops}}">{{page.linkWorkshops}} <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>

<section class="section-padding banner-thick" id="talks">
    <div class="container-xxl">
        <div class="text-center">
            <h6 class="purple-text uppercase mb-0">{{page.speakingTagline}}</h6>
            <h2 class="subtitle uppercase mb-3">{{page.speakingTitle}}</h2>
            <p class="text light text-container mb-5">{{page.speakingCopy}}</p>
        </div>

        <div class="row talks">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="10000">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active bg-purple" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class="ms-2" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class="ms-2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class="ms-2" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class="ms-2" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" class="ms-2" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner mb-5 pb-3 overflow-visible">
                    {% for talk in site.data.talks %}
                        <div class="carousel-item box p-5 {% if forloop.first == true %} active{% endif %}">
                            <div class="row d-flex align-items-center">
                                <div class="col-12 col-md-6">
                                    <h5 class="text bold uppercase mb-3">{{talk.title}}</h5>
                                    <p class="small-text light">{{talk.copy}}</p>
                                    <p class="small-text light mb-2">{{talk.copyPart2}}</p>
                                </div>
                                <div class="col-12 col-md-6 text-center">
                                    <img src="{{talk.img}}" alt="" width="100%" class="d-inline-block">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-padding bg-gray" id="workshops">
    <div class="container-xxl">
        <div class="text-center">
            <h6 class="purple-text uppercase mb-0">{{page.workshopsTagline}}</h6>
            <h2 class="subtitle uppercase mb-3">{{page.workshopsTitle}}</h2>
            <p class="text light text-container mb-4">{{page.workshopsCopy}}</p>
        </div>

        <div class="sessions">
            <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel"  data-bs-interval="10000">
                <div class="carousel-indicators position-static">
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active vision" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" class="priorities" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" class="strategy" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="3" class="execution" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="4" class="culture" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="5" class="hippocratic" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner mb-5">
                    {% for session in site.data.sessions %}
                        <div class="carousel-item {% if forloop.first == true %} active{% endif %}">
                            <div class="box p-5">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        <h5 class="text bold uppercase mb-3">{{session.title}}</h5>
                                        <p class="small-text light">{{session.copy}}</p>
                                        {% if session.hasList %}
                                        <ul class="m-0">
                                            {% for item in session.list %}
                                            <li class="small-text light mb-0">{{item}}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                        <p class="small-text light mb-0">{{session.copy2}}</p>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <img src="{{session.img}}" alt="" width="100%">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="py-3"></div>
</section>

<section class="pull-up">
    <div class="container-xxl">
        <div class="row bg-purple wavy-bg-img round py-2 m-0">
            {% for testimonial in site.data.testimonials.workshops %}
            <div class="col-12 col-md-6 white-text p-4">
                <p class="text light">{{testimonial.testimonial}}</p>
                <span class="small-text light fst-italic">- {{testimonial.author}}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container-xxl">
        <div class="row d-flex align-items-center">
            <div class="col-12 col-md-6">
                <h6 class="purple-text uppercase mb-0">{{page.speakerTag}}</h6>
                <h2 class="subtitle uppercase mb-3">{{page.speakerTitle}}</h2>
                <p class="light mb-0 text">{{page.speakerCopy}}</p>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-center">
                <img src="/images/radhika.png" alt="" width="100%">
            </div>
        </div>
    </div>
</section>

<section class="bg-purple wavy-bg-img py-5">
    <div class="container-xxl white-text">
        <h2 class="subtitle uppercase">{{page.bookTalkTitle}}</h2>
        <p class="text light mb-0">{{page.bookTalkCopy}} <a href="mailto:{{page.email}}" class="white-text">{{page.email}}</a>.</p>
        <p class="text light">{{page.bookTalkCopy2}}</p>
    </div>
</section>