footer
{
    padding-top: 2em;

    color: #fff;
    background-color: #2d3142;
}

footer
{
    padding: 2em;

    text-align: center;
}

footer a
{
    font-size: .75em;
}

footer img
{
    max-height: 40px;
}

footer a,
footer img
{
    display: block;

    margin: 1em auto;
}
